.elemen_5{
    position: absolute;
    z-index: -5;
    transform: translateX(15%);
    margin-top: 10px;
}

.elemen_6{
    margin-top: 160px;
    margin-left: 280px;
}

.btn-user{
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #F4AE00;
}

@media(max-width: 1700px){
    .elemen_6{
        margin-left: 150px;
    }
} 

@media(max-width: 1316px){
    .elemen_5, .elemen_6{
        opacity: 0;
        transition: 0.9s ease-in-out;
    }
    .hidden-edit{
        display: none;
    }
    .card-layanan{
        height: 45%;
    }
} 