footer {
    position: sticky;
    margin-top: 72px; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #ffffff;
    text-align: left;
    caption-side: bottom;
    top: 100%;
    bottom: 0;
    background-color: rgba(0, 168, 156, 1);
}

h5{
    font-weight: bold;
}