.carousel-item::before{
    content: "";
    background-image: 
        linear-gradient(
            to bottom,
            transparent, rgba(0,0,0,0.5)
        );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.p-home {
    text-align: justify;
    font-size: 18px;
}

h1{
    font-size: 36px;
    font-weight: 800;
}

.title{
    text-align: center;
    padding: 8px;
    color: #fff;
}

section{
    justify-content: center;
}


.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-1{
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
    .card{
        margin: 20px;
    }
} 

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.services{
    background-color: rgba(231, 207, 122, 0.4);
}

