.galeri_title{
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 72px;
    margin: 198px 0px 86px 0px;
    padding: 18px;
    position: relative;
}

.galeri_title:after {
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 80%; 
    padding-top: 20px; 
    border-bottom: 3px solid black; 
  }

section{
    min-height: 50vh;
}

.img-pages{
    max-width: 100%;
}

.elemen_1{
    position: absolute;
    right: 0;
    margin-right: 32px;
    z-index: -5;
    transform: translateY(-25%);
}

.elemen_2{
    position: absolute;
    margin-left: 32px;
    left: 0;
    z-index: -5;
    transform: rotate(180deg) translateY(75%);
}

@media(min-width: 2500px){
    .elemen_1, .elemen_2{
        opacity: 0;
        transition: 0.9s ease-in-out;
    }
} 

@media(max-width: 1669px){
    .elemen_1, .elemen_2{
        opacity: 0;
        transition: 0.9s ease-in-out;
    }
} 

.gallery{
    margin-bottom: 150px;
}