.galeri_title{
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 72px;
    margin: 198px 0px 86px 0px;
    padding: 18px;
    position: relative;
    -webkit-animation: moving 10s infinite;
    animation: moving 10s infinite;
}

.galeri_title:after {
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 80%; 
    padding-top: 20px; 
    border-bottom: 3px solid black; 
  }

section{
    min-height: 50vh;
}

.img-pages{
    max-width: 100%;
}

.elemen_1{
    position: absolute;
    right: 0;
    margin-right: 32px;
    z-index: -5;
    transform: translateY(-25%);
}

.elemen_2{
    position: absolute;
    margin-left: 32px;
    left: 0;
    z-index: -5;
    transform: rotate(180deg) translateY(75%);
}

.elemen_4{
    position: absolute;
    z-index: -5;
    transform: translateY(-60%);
    /* margin-left: 72px; */
    right: 0;
    margin-right: 132px;
}

.elemen_5{
    position: absolute;
    z-index: -5;
    transform: translateY(40%);
    /* margin-left: 72px; */
    right: 0;
    margin-right: 132px;
}


.title{
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 800;
}

.title:after {
    content: ""; 
    display: block; 
    width: 100%; 
    padding-top: 20px; 
    border-bottom: 3px solid black; 
}

.visi, .misi, .filosofi{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 36px;
    color: #000000;
    text-align: justify;
}

.elemen_3{
   
}



.gallery, .layanan{
    margin-bottom: 150px;
}

@media(max-width: 580px){
    .title{
        font-size: 32px;
    }
    .visi, .misi, .filosofi{
        font-size: 16px;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}  

/* @media(max-width: 768px){
    .title{
        font-size: 40px;
    }
    .visi, .misi, .filosofi{
        font-size: 18px;
    }
}   */

@media(max-width: 1325px){
    .elemen_4, .elemen_5{
        display: none;
    }
    .elemen_3{
        opacity: 0;
    }
    .title:after {
        width: 100%; 
    }
    .max-md{
        width: 100%;
    }
    .hidden-md{
        display: none;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
} 


@media(max-width: 1669px){
    .elemen_1, .elemen_2{
        opacity: 0;
        transition: 0.9s ease-in-out;
    }
    .galeri_title{
        margin-top: 72px;
        transition: 0.9s ease-in-out;
        transition-delay: 0.8s;
    }
} 

@media(min-width: 2500px){
    .elemen_1, .elemen_2{
        opacity: 0;
        transition: 0.9s ease-in-out;
    }
} 
