.card{
    background: #FFFFFF;
    border: 5px solid #00A89C;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 30px 32px;
}

.form-bg label{
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}

.card-layanan{
    padding: 30px 32px;
    height: 30%;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

button{
    margin-top: 8px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.box{
    transform: translateY(-18%);
}

.header{
    background-color: #00A89C;
    height: 236px;
    width: 100%;
}

.elemen_1{
    transform: translateY(-70%);
}

.elemen_2{
    position: absolute;
    z-index: -5;
    transform: translateX(15%);
    margin-top: 10px;
}

.elemen_3{
    margin-top: 160px;
    margin-left: 280px;
}

.title, .title-changepass, .title-edit{
    font-size: 60px;
    font-weight: 800;
    transform: translateY(-140%);
    color: #fff;
    margin-left: 30px;
}


@media(max-width: 1400px){
    .card-layanan{
        padding: 20px 52px;
    }
    .title, .title-changepass, .title-edit{
        margin-left: 70px;
    }
    .elemen_3{
        margin-left: 200px;
    }
} 
@media(max-width: 1220px){
    .elemen_2, .elemen_3{
        opacity: 0;
        transition: 0.9s ease-in-out;
    }
    .hidden-md{
        display: none;
    }
    .card-layanan{
        height: 45%;
    }
} 

@media(max-width: 1200px){
    .elemen_1{
        width: 180px;
        height: 180px;
    }
    .title, .title-changepass, .title-edit{
        font-size: 48px;
        transform: translateY(-155%);
        margin-left: 50px;
    }
    .elemen_3{
        margin-left: 180px;
    }
} 

@media(max-width: 991px){
    .title{
        margin-left: 140px;
    }
    .card-body{
        font-size: 18px;
        line-height: 28px;
    }
    .title-changepass, .title-edit{
        margin-left: 150px;
    }
    .card{
        padding: 18px;
    }

} 

@media(max-width: 767px){
    .elemen_1{
        opacity: 0;
    }
    .title{
        font-size: 48px;
        transform: translateY(-475%);
        margin-left: 0px;
    }
    .title-changepass, .title-edit{
        font-size: 48px;
        transform: translateY(-435%);
        margin-left: 0px;
    }
    .card-layanan{
        height: 95%;
    }
} 


@media(max-width: 510px){
    .elemen_1, .elemen_2{
        opacity: 0;
    }
    .title, .title-edit{
        font-size: 38px;
        transform: translateY(-555%);
        margin-left: 0px;
    }
    .title-changepass{
        font-size: 38px;
        margin-left: 0px;
        transform: translateY(-505%);
    }
    .box{
        transform: translateY(-19%);
    }
} 

@media(max-width: 400px){
    .title, .title-edit{
        font-size: 37px;
        margin-left: 0px;
        transform: translateY(-565%);
    }
    .title-changepass{
        font-size: 40px;
        margin-left: 0px;
        transform: translateY(-305%);
    }
    .elemen_1, .elemen_2{
        opacity: 0;
    }
    .box{
        transform: translateY(-18%);
    }

    .card-body{
        font-size: 16px;
    }
} 
